
.tp-cosine-gradientv_top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.15rem;
  border-radius: 15px;
}

.tp-cosine-gradientv_section-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
